h1 {
font-family: Marianne, arial, sans-serif;
color: darkslateblue;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
}

h2 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 60px;
}

p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 60px;
margin-right: 70px;
text-align: justify;}

.carte {
    text-align: center
}

.legend1 {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.legend2 {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.niv {
    flex: 1;
    height: 20px;
    width: 20%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


.niv1 {background-color: lightgreen;}
.niv2 {background-color: green;}
.niv3{background-color: orange;}
.niv4 {background-color: red;}

.niva{background-color: lightblue}
.nivb{background-color: blue}
.nivc{
    background-color: yellow;  
    color: black}
.nivd{background-color: red}

.seuils{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 60px;
margin-right: 60px;
margin-bottom: 20px;
display: grid;
grid-template-areas: "left center right";
grid-template-columns: 1fr 1fr 1fr;
}

.PM25 {
grid-area: center;
}

.PM10 {
grid-area: left;
}

.PM1 {
grid-area: right;
}